@model IEnumerable<CetTodoWeb.Models.TodoItem>

@{ ViewData["Title"] = "Home Page"; }




<div class="text-center">
    <h1 class="display-">Welcome</h1>
</div>
@if (User.Identity.IsAuthenticated)
{



@if (!Model.Any())
{
<div class="text-center">
    <h1 class="display-4"> There is no shopping list to be done. </h1>

</div> }
                else
                {

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category.Name)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.CreatedDate)
    </td>



</tr>}
    </tbody>
</table>}}